@import 'cadmin-variables';

$structureFieldsWidth: 448px;

.structure-builder {
	&__wrapper {
		height: calc(100vh - (var(--control-menu-container-height)));
	}

	&__structure-fields {
		background-color: $cadmin-light-l1;
		border-radius: 8px;
		width: $structureFieldsWidth;
	}

	&__title-input {
		font-size: 28px;
	}
}
