$contentEditorManagementBarHeight: 64px;
$contentEditorSidePanelWidth: 40px;

$pageEditorManagamentBarHeight: 64px;
$pageEditorSidebarButtonsWidth: 42px;
$pageEditorSidebarWidth: 280px;
$pageEditorTopperZIndex: 988;

$productMenuWidth: 320px;
